include MANIFEST.in
include AUTHORS COPYING INSTALL NEWS README
include bin/pybridge.desktop
include glade/*.ui man/*
recursive-include locale */LC_MESSAGES/pybridge.mo
recursive-include pixmaps *
recursive-include tests *.py
prune locale/src
