include MANIFEST.in
include AUTHORS COPYING INSTALL NEWS README bin/pybridge.desktop
include glade/*.glade man/*
recursive-include locale */LC_MESSAGES/pybridge.mo
recursive-include pixmaps *.ico *.png *.svg
prune locale/src
